.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff;
  transition: 0.5s;
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}

.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
}

.service-32 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.service-32 h1,
.service-32 h2,
.service-32 h3,
.service-32 h4,
.service-32 h5,
.service-32 h6 {
  color: #3e4555;
}

.service-32 .font-weight-medium {
  font-weight: 500;
}

.service-32 .badge {
  line-height: 14px;
}

.service-32 .badge-info {
  background: #188ef4;
}

.service-32 .btn-info-gradiant {
  background: #188ef4;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #188ef4 0%,
    #316ce8 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#188ef4),
    to(#316ce8)
  );
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  border: 0px;
  color: #ffffff;
}

.service-32 .btn-info-gradiant:hover {
  background: #316ce8;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #316ce8 0%,
    #188ef4 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#316ce8),
    to(#188ef4)
  );
  background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
  background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
  background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.service-32 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}
