.learn-more-btn {
  background-color: blueviolet !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: whitesmoke !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid blueviolet !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
}

.learn-more-btn-logout {
  background-color: #d11a2a !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: whitesmoke !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid #d11a2a !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
}

.btn-extra-header {
  color: blueviolet !important;
  background-color: transparent !important;
  border: 2px solid blueviolet !important;
}

.header_wrapper .navbar {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header_wrapper .navbar-brand img {
  max-width: 210px;
  height: auto;
}
.header_wrapper .menu-navbar-nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
.header_wrapper .nav-item {
  margin: 0 10px;
}
.header_wrapper .nav-item .nav-link {
  font-weight: bold;
  font-size: 18px;
  color: blueviolet;
  line-height: 1;
}
.header_wrapper .nav-item .nav-link.active {
  color: blueviolet;
}
.header-scrolled {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 99999;
  background: white !important;
  transition: 0.7;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}
.header-scrolled .navbar-brand img {
  width: 190px;
  height: auto;
  transition: 0.7;
  animation: animated 0.3s ease-in-out;
}

@keyframes animated {
  0% {
    width: 210px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 190px;
  }
}
.header-scrolled .nav-item .nav-link {
  font-size: 17px;
  transition: 0.7;
}

@media (max-width: 1300px) {
  .header_wrapper .menu-navbar-nav {
    width: auto;
  }
}

@media (max-width: 1230px) {
  .header_wrapper .nav-item {
    margin: 0 5px;
  }
  .header_wrapper .learn-more-btn {
    padding: 12px 10px !important;
  }
}

@media (max-width: 1070px) {
  .header_wrapper .nav-item .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .header_wrapper .navbar-brand img {
    width: 180px;
  }
  .header_wrapper .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .header_wrapper .menu-navbar-nav {
    text-align: center;
  }
  .header_wrapper .nav-item .nav-link {
    margin-top: 15px;
    font-size: 18px;
  }
  .header_wrapper .nav-item:last-child .nav-link {
    margin-bottom: 20px;
  }
  .header_wrapper .learn-more-btn {
    padding: 12px 29px !important;
  }
  .header_wrapper .navbar-collapse {
    background: white;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#lblCartCount {
  font-size: 12px;
  background: blueviolet;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -5px;
}
